/* html,
body {
    position: fixed;
    overflow: hidden;
    height: "100vh";
    width: "100vw";
} */


body {
    margin: 0;
    font-family: Futura, Helvetica, -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #252525;
    text-align: left;
    background-color: #fff;
}

.h5, h5 {
    font-size: 1.25rem;
    color: white;
}

/* This is for the main buttons */

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: initial;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0rem;
    font-family: Futura, Helvetica ;
}

.btn-secondary {
    color: #252525;
    background-color: #FFBEBC;
    border-color: #FFBEBC;
}


.btn-secondary:hover {
    color: #252525;
    background-color: rgba(255,38,31,.8);
    border-color: rgba(255,38,31,.8);
}



/* This is for the language dropdown */

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #252525;
    background-color: rgba(255,38,31,.8);
    border-color: rgba(255,38,31,.8);
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0rem 0;
    /* margin: .125rem 0 0; */
    font-size: 1rem;
    color: #252525;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid rgba(255,38,31,.8);
    border-radius: 0rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #252525;
    text-align: inherit;
    white-space: nowrap;
    background-color: initial;
    border: 0;
}


.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(130,138,145,.0);
}

.btn-secondary.focus, .btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(130,138,145,.0);
}
